<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.RestuarantConnectionString"
            connectionString="Data Source=DESKTOP-IFJ4SD2\MSSQLSERVER01;Initial Catalog=Restuarant;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>